# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
dist/
installer_build/
MANIFEST

# PyInstaller
*.manifest
*.spec

# Inno
*.iss

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.obsidian
backups/
settings.json
