# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
dist/
MANIFEST

# PyInstaller
*.manifest
*.spec

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.obsidian
backups/
